# Python
__pycache__/
*.py[cod]
*.egg-info/
venv/
.env

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Dados pesados (não subir no GitHub)
*.mp4
*.zip
*.npy
*.csv
!results/**/*.csv

# Credenciais
.env
secrets.py
*_API_KEY*

# Sistema
.DS_Store
Thumbs.db
